@model IEnumerable<ToyShop.Models.Product>
@{
    ViewBag.Title = "Sản Phẩm Theo Thể Loại";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 style="text-align:center; color:red">Sản Phẩm Theo Category</h3>
<div class="row">
    @foreach (var dochoine in Model)
    {
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product__item">
                <div class="product__item__pic set-bg">
                    <img src="@dochoine.ProImage" alt="@dochoine.ProName" />
                    <ul class="product__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product__item__text">
                    <h6><a href="@Url.Action("Index","ProductDetails",new { masanpham = dochoine.ProId})">@dochoine.ProName</a></h6>
                    <h5>@dochoine.ProPrice đồng</h5>
                </div>
            </div>
        </div>
    }
</div>
